[Unit]
Description=Help users of Secrets by importing kdbx files
ConditionUser=1000
ConditionPathExists=/home/amnesia/Persistent

[Service]
Type=oneshot
ExecStart=/usr/local/lib/import-kdbx-in-secrets
RemainAfterExit=yes

[Install]
WantedBy=desktop.target
